<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rt.inspector">

    <!--网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--存储-->
    <uses-permission android:name="android.permissAion.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <!--手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--    <uses-permission-->
    <!--        android:name="android.permission.QUERY_ALL_PACKAGES"-->
    <!--        tools:ignore="QueryAllPackagesPermission" />-->

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.SET_TIME"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_ji_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_ji_logo"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:theme,android:appComponentFactory"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${JPUSH_PKGNAME}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="design_width"
            android:value="360" />

        <meta-data
            android:name="design_height"
            android:value="640" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}"
            tools:replace="android:value" />

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"
            tools:replace="android:value" />

        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${JPUSH_PKGNAME}.DataProvider"
            android:exported="false"
            android:process=":pushcore"
            tools:replace="android:authorities" />

        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/JPushTheme">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.android.service.JTransitActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/JPushTheme">
            <intent-filter>
                <action android:name="cn.android.service.JTransitActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver>

        <service
            android:name=".jpush.MyJPService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <service
            android:name=".jpush.MyJPMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.SERVICE_MESSAGE" />
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/startTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.parking.ParkingManagementActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.parking.ParkingLotActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.parking.TrafficAssistantListActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.parking.IncomeCountingActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.parking.ParkingOrderDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.ViolationReportMainActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.AssistantViolationReportActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.AssistantViolationHistoryActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.AssistantViolationDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.EnterpriseViolationReportActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.EnterpriseViolationHistoryActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.violation.EnterpriseViolationDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.attendance.WorkAttendanceActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.infoverify.InfoVerifyMainActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.infoverify.BusinessLicenseActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.infoverify.FeeStandardActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.infoverify.ParkingInfoActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.taskreception.TaskReceptionActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.taskreception.AbnormalDetailActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="cn.jiguang.myaction"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.preview.PreviewImageActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.roadbind.RoadBindActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.mine.MineActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.mine.PersonalInfoActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>
</manifest>